<div class="container">
  <div class="row mt-3">
    <div class="col">
      <h2 class="text-align">Cortex Frontend</h2>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="center-block">
        This frontends main purpose is to provide a simple interface to configure various Cortex components which are all API driven.
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="center-block">
        Currently this frontend supports viewing, editing & creating Rule Groups for the cortex ruler
      </div>
    </div>
  </div>
</div>
